* {
    box-sizing: border-box;
}
$menu-item-width: 200px;
$menu-height: 80px;
$menu-item-padding: 20px;
$white: #fff;
$black: rgb(18, 18, 18);

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    height: $menu-height;
    background-color: $white;

    nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;

        ul {
            // Top level menu
            list-style-type: none;
            font-size: 1.5rem;
            height: 100%;
            margin: 0;
            padding: 0;
            position: relative;

            > li {
                display: inline-block;
                line-height: $menu-height;
                width: $menu-item-width;
                position: relative;
                background-color: $white;

                a {
                    color: $black;
                    display: block;
                    text-decoration: none;
                    padding: 0 $menu-item-padding;
                }

                &:hover {
                    background-color: darken($white, 5%);
                    > ul {
                        height: auto;
                        opacity: 1;
                    }
                }

                ul {
                    transition: all 0.5s ease;
                    opacity: 0;
                    height: 0;
                    position: absolute;
                    overflow: hidden;
                    top: $menu-height;
                    left: 0;
                    border-radius: 0 0 6px 6px;
                }

                > a:after {
                    content: " +";
                }
                > a:only-child:after {
                    content: "";
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        > nav {
            padding: 0 0 0 25px;
            ul {
                li {
                    display: block;

                    ul {
                        position: static;
                        li { background-color: darken($white, 4%); }
                    }
                }
            }
        }
    }
}
