* {
    box-sizing: border-box;
}
$primary: #50AC7D;
$menu-item-width: 200px;
$menu-height: 100px;
$menu-item-padding: 20px;
$white: #fff;

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    height: $menu-height;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $primary;
  

    nav {
        height: 100%;
        ul {
            // Top level menu
            list-style-type: none;
            font-size: 2rem;
            height: 100%;
            margin: 0;
            padding: 0;
            position: relative;


            li {
                display: inline-block;
                line-height: $menu-height;
                width: $menu-item-width;
                background-color: $primary;
                position: relative;

                a { 
                    color: $white;
                    text-decoration: none;
                    padding: 0 $menu-item-padding;
                }

                &:hover {
                    background-color: darken($primary, 30%);
                    > ul {
                        display: inherit;
                        li { background-color: darken($primary, 10%); }
                    }
                }

                
                > a:after { content:  ' ✚'; }
                > a:only-child:after { content: ''; }
            }

            // Second level menu
            ul {
                display: none;
                position: absolute; 
                top: $menu-height;
                left: 0;


                li {
                    background-color: darken($primary, 20%);
                    width:100%;
                    display:list-item;
                    position: relative;
                    width: $menu-item-width;
                }

                ul {
                        top: 0;
                        left: $menu-item-width;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header > nav > ul {
        li {
            display: block;
        }

        ul {
            position: static;
            left: inherit;
        }
    } 
}