* {
    box-sizing: border-box;
}
$menu-item-width: 120px;
$menu-height: 80px;
$menu-item-padding: 20px;
$white: #fff;
$black: rgb(18, 18, 18);

html, body {     
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.page-wrapper {
    overflow-x: hidden;
    height: 100%;
}

header {
    height: $menu-height;
    background-color: $white;

    nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;

        ul {
            // Top level menu
            list-style-type: none;
            font-size: 1rem;
            height: 100%;
            margin: 0;
            padding: 0;
            position: relative;

            > li {
                display: inline-block;
                line-height: $menu-height;
                width: $menu-item-width;
                position: relative;
                background-color: $white;

                a {
                    color: $black;
                    display: block;
                    text-decoration: none;
                    padding: 0 $menu-item-padding;
                }

                &:hover {
                    background-color: darken($white, 5%);
                    > ul {
                        height: auto;
                        opacity: 1;
                    }
                }

                ul {
                    transition: all 0.5s ease;
                    opacity: 0;
                    height: 0;
                    position: absolute;
                    overflow: hidden;
                    top: $menu-height;
                    left: 0;
                    border-radius: 0 0 6px 6px;
                }

                > a:after {
                    content: " +";
                }
                > a:only-child:after {
                    content: "";
                }
            }
        }
    }
}

@media screen and (max-width: 840px) {
    header {
        > nav {
            padding: 0 0 0 25px;
            position: relative;
    
            label[for="mobile-nav"] {
                cursor: pointer;
                position: absolute;
                right: 50px;
                top: 50%;
                transform: translateY(-50%);
                transition: right 0.3s ease;
                line-height: 50px;
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span {
                    height: 3px;
                    background-color: $black;
                    width: 100%;
                    opacity: 1;
                    position: relative;
                    transition: all .3s ease;

                    &:nth-child(1) {
                        transform-origin: 10% 0%;

                    }

                    &:nth-child(3) {
                        transform-origin: 0% 100%;

                    }
                }
            }

            #mobile-nav {
                display: none;
                &:checked + label {
                    right: calc(25px + #{$menu-item-width});

                    span {
                        &:nth-child(1) {
                            transform: rotate(45deg);
                        }

                        &:nth-child(3) {
                            transform: rotate(-45deg);
                            transform-origin: 0% 100%;
                        }

                        &:nth-child(2) {
                            opacity: 0;
                        }
                    }
                }
                &:checked ~ ul {
                    right: 0;
                }
            }

            ul {
                position: relative;
                right: -$menu-item-width;
                transition: right .3s ease;;
    
                li {
                    display: block;

                    ul {
                        position: static;
                        li {
                            background-color: darken($white, 4%);
                        }
                    }
                }
            }
        }
    }
}
